
.hidden {
    display: none;
}
.alert {
    margin-top : 20px;
}
 .centered{
        margin: auto;
        float: none;
}
.select2 {
    width: 100%!important;
   
}
input[type=text], input[type=number], .select2   {
    margin-bottom: 5px;
}